
@{
    ViewData["Title"] = "Categories";
}

<h1>Index</h1>

<ul>
    <li><a asp-controller="Category" asp-action="Details" asp-route-name="Food">Food</a></li>
    <li><a asp-controller="Category" asp-action="Details" asp-route-name="Tech">Tech</a></li>
    <li><a asp-controller="Category" asp-action="Details" asp-route-name="Sports">Sports</a></li>
</ul>